/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.bookmark-form {
    display: flex;
    margin-bottom: 10px;
}

input[type="url"] {
    flex: 1;
    padding: 10px;
}

button#addBookmark {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 6px;
}

button#addBookmark:hover {
    background-color: #160af3;
}

button#deleteAll {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
}

button#deleteAll:hover {
    background-color: #f80404;
}